<div class="w-full h-full fixed bg-purple-950">
  <div class="w-[70%] overflow-hidden h-[80%] bg-white absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 rounded-[3px]" style="box-shadow: 0 0 4px #555;">
    <div class="w-full h-[50px] relative flex  items-center">
      <div class="w-[40%] h-full absolute top-0 left-0 flex items-center">
        <div class="flex-[5] flex h-full items-center cursor-pointer hover:bg-slate-200 justify-center text-[20px]" [routerLink]="['/topic']">
          <span>Topic</span>
        </div>
        <div class="flex-[5] flex h-full items-center cursor-pointer hover:bg-slate-200 justify-center text-[20px]" [routerLink]="['/messages']">
          <span>Message</span>
        </div>
      </div>
    </div>
    <div class="w-full h-[calc(100%-50px)] relative p-3">
      <hr class="mb-2">
      <div class="w-full h-full relative overflow-y-scroll">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
