<div class="w-full h-auto relative">
  <div class="w-1/2 h-auto absolute mt-9 left-1/2 -translate-x-1/2">
    <h1 class="w-full h-auto relative font-bold text-[45px] text-center">Test notification push</h1>
    <div class="w-[80%] h-auto relative p-3 m-auto mt-9"  style="border-radius: 3px; box-shadow: 0 0 3px #bbd8ef;">
      <form action="" [formGroup]="this.form" (submit)="sendNotification()">
        <div class="w-full h-auto relative">
          <label for="">Titre de la notification</label>
          <input formControlName="title"  type="text" class="w-full h-[45px] outline-[#2691dd] relative p-3 " style="border: solid 1px #ddd; border-radius: 3px;" placeholder="Titre de la notification">
        </div>
        <div class="w-full h-auto relative">
          <label for="">Message de la noitification</label>
          <textarea formControlName="content" class="w-full h-[200px] relative p-3 resize-none indent-7 outline-[#2691dd]" style="border: solid 1px #ddd; border-radius: 3px;" placeholder="Titre de la notification"></textarea>
        </div>
        <div class="w-full flex items-center relative justify-center p-3 ">
          <button type="submit" class="w-auto relative p-3 bg-[#2691dd] text-white font-bold" style="border-radius: 3px;">Send notification</button>
        </div>
      </form>
    </div>
  </div>
</div>
